.player {
    position: relative;
    font-size: 2rem;
    width: 250px;
    height: 250px;
    border-radius: 50% 50% 0 0;
    border: solid 2px;
    box-shadow: 0 10px 10px 0;
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-bottom {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
    pointer-events: none;
}

#player-one {
    justify-self: center;
    grid-column: 1;
    grid-row: 3 / 5;
}

#player-one.active,
#player-two.active {
    background: linear-gradient(0deg, var(--color4), rgb(255, 0, 0));
    background-size: 400% 400%;
    animation: heroDmg 1.1s ease 1;
}

@keyframes heroDmg {
    0% {
        background-position: 50% 10%
    }

    100% {
        background-position: 50% 100%
    }
}

#player-two {
    justify-self: center;
    grid-column: 1;
    grid-row: 1 / 3;
}

#player-one-cards {
    grid-column: 2;
    grid-row: 4;
}

#player-two-cards {
    grid-column: 2;
    grid-row: 1;
}

.player-icon {
    pointer-events: none;
}

.player-icon>img {
    margin: 30px 0 0 0;
    width: 160px;
    pointer-events: none;
}

.player-mana {
    font-family: 'Roboto';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    cursor: default;
}

.player-mana>img {
    width: 30px;
    margin: 0 0 4px 4px;
    pointer-events: none;
    cursor: default;
}

.player-hp {
    font-family: 'Roboto';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.player-hp>img {
    width: 30px;
    margin-left: 4px;
    pointer-events: none;
}

.player-hp-result {
    pointer-events: none;
    opacity: 0;
    color: rgb(255, 40, 40);
    font-size: 2.6rem;
    bottom: 8px;
    left: 90px;
    position: absolute;
}

.player-hp-result.active {
    animation: get-dmg-hero 1.1s linear 1;
}

.onhand-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.onhand-name {
    font-size: 1.2rem;
    font-family: 'Rakkas';
    cursor: default;
    pointer-events: none;
}

.onhand-attack,
.onhand-hp,
.onhand-cost {
    position: relative;
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    pointer-events: none;
}

.onhand-hp-result {
    pointer-events: none;
    opacity: 0;
    color: rgb(255, 40, 40);
    font-size: 1.6rem;
    bottom: 24px;
    left: 0px;
    position: absolute;
}

.onhand-hp-result.active {
    animation: get-dmg 1.1s linear 1;
}

.onhand-cost>img {
    margin: 0 0 5px 5px;
    width: 24px;
    cursor: default;
    pointer-events: none;
}

.onhand-hp>img {
    width: 24px;
    margin: 0 0 0 5px;
    cursor: default;
    pointer-events: none;
}

.onhand-attack>img {
    width: 24px;
    margin: 0 0 0 2px;
    cursor: default;
    pointer-events: none;
}

.onhand-card {
    background-color: var(--cardBg);
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    height: 180px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 200ms;
}

.onhand-card.damaged-animate {
    background: linear-gradient(0deg, var(--cardBg), rgb(255, 0, 0));
    background-size: 400% 400%;
    animation: heroDmg 1.1s ease 1;
}

.onhand-card.attack-animate {
    position: absolute;
    animation: card-attack 1s ease-in-out 1;
}

.onhand-card.attack-animate-ai {
    position: absolute;
    animation: card-attack-ai 1s ease-in-out 1;
}

.onhand-card.used {
    background-color: gray;
}

.onhand-card.used.damaged-animate {
    background: linear-gradient(0deg, gray, rgb(255, 0, 0));
    background-size: 400% 400%;
    animation: heroDmg 1.1s ease 1;
}

.onhand-card.inhand {
    background-color: lightgreen;
}

.onhand-card.inhand-red {
    background-color: lightcoral;
}

.onhand-card:hover {
    border: solid 2px white;
}

.onhand-card-top {
    margin: 10px 0;
    font-size: 1.2rem;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
}

.onhand-card-bottom {
    margin: 10px 0;
    font-size: 1.2rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.card-table {
    border: solid 1px;
    border-radius: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: linear-gradient(to right, hsl(60, 10%, 50%), hsl(60, 10%, 60%), hsl(60, 10%, 50%));
}

#card-table-one {
    grid-column: 2;
    grid-row: 3;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#card-table-two {
    grid-column: 2;
    grid-row: 2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-field {
    position: relative;
    border-right: solid 1px hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-field:last-child {
    border: none;
}

.round-control {
    position: relative;
    display: flex;
    align-items: center;
    grid-column: 3;
    grid-row: 2 / 4;
}

.waitRoundBtn {
    transform: rotateX(180deg);
    background-color: hsl(0, 0%, 40%);
}

.nextRoundBtn {
    background-color: var(--color4);
}

.nextRoundBtn.complete {
    background-color: hsl(120, 100%, 40%);
    transform: scale(1.1);
}

.roundBtn {
    position: absolute;
    top: -20px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 500ms;
}

.roundBtn.flipped {
    transform: rotateX(180deg);
}

.roundBtn>button {
    margin: 0 0 0 140px;
    height: 40px;
    width: 140px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 black;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1rem;
    transition: 500ms;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.roundBtn>button:hover {
    box-shadow: none;
}

.roundBtn>button:active {
    background-color: var(--color3);
}

.round-control>img {
    position: absolute;
    left: 25px;
    height: 140px;
    grid-column: 3;
    grid-row: 3;
    transition: 1s;
}

.round-control>img.nospin {
    height: 100px;
    transform: rotate(-45deg);
}

.round-control>img.spin {
    transform: rotate(-225deg);
}

.winner {
    color: var(--colorFont);
    grid-column: 2;
    grid-row: 2;
    font-family: 'Rakkas';
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck {
    position: relative;
    margin: 0 0 3px 50px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
    height: 180px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.deck>img {
    position: absolute;
    height: 180px;
    width: 130px;
}

.deck:hover>.deck-left {
    color: var(--colorFont);
    position: absolute;
    font-weight: 700;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#player-one-deck {
    grid-column: 3;
    grid-row: 4;
}

#player-two-deck {
    grid-column: 3;
    grid-row: 1;
}

.deck-animate {
    border: solid 2px black;
    border-radius: 10px;
    height: 180px;
    width: 130px;
}

.deck-animate,
.deck-animate-back>img,
.deck-animate-front,
.deck-animate-back {
    position: absolute;
    height: 180px;
    width: 130px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 2s;
}

.deck-animate-front {
    transform: rotateY(180deg);
}

.deck-animate.active {
    animation: getcard 2.5s ease-in-out 1;
}

@keyframes getcard {
    0% {
        right: 0px;
    }

    40% {
        right: 150px;
        transform: rotateY(0deg)
    }

    75% {
        right: 150px;
        transform: rotateY(180deg)
    }

    100% {
        right: 150px;
        transform: rotateY(180deg)
    }
}

@keyframes card-attack {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: -20px;
    }

    75% {
        bottom: 30px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes card-attack-ai {
    0% {
        top: 10px;
    }

    50% {
        top: -20px;
    }

    75% {
        top: 30px;
    }

    100% {
        top: 10px;
    }
}

@keyframes get-dmg {
    0% {
        opacity: 1;
        bottom: 24px;
        left: 0px;
    }

    25% {
        opacity: 1;
        bottom: 24px;
        left: 5px;
    }

    75% {
        opacity: 1;
        bottom: 24px;
        left: 15px;
    }

    100% {
        opacity: 0;
        bottom: 24px;
        left: 20px;
    }

}

@keyframes get-dmg-hero {
    0% {
        opacity: 1;
        bottom: 8px;
        left: 90px;
    }

    25% {
        opacity: 1;
        bottom: 8px;
        left: 95px;
    }

    75% {
        opacity: 1;
        bottom: 8px;
        left: 105px;
    }

    100% {
        opacity: 0;
        bottom: 8px;
        left: 110px;
    }

}