body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: steelblue;
    font-size: 4rem;
}