:root {
    font-size: 16px;
    --color1: rgb(20, 40, 80);
    --color2: rgb(39, 73, 109);
    --color3: rgb(12, 123, 147);
    --color4: rgb(0, 168, 204);
    --cardBg: hsl(60, 25%, 60%);
    --colorFont: hsl(106, 0%, 90%);
}

.game-container {
    position: relative;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 100px);
    background: linear-gradient(var(--color1), var(--color3));
}

.game-container.game-mode {
    display: grid;
    grid-template-rows: 5fr 5fr 1fr 5fr 5fr;
    grid-template-columns: 1fr 2fr 1fr;
}